body {
    margin: 0;
    padding: 10px;
    font-family: Arial, Helvetica ,sans-serif;
    min-width: 400px;
    border: 1px solid #dadce0;
  }

  .chat-gpt-container .prefix {
    font-weight: bold;
  }

  .chat-gpt-container pre {
    white-space: pre-wrap;
    min-width: 0;
    margin-bottom: 0;
    line-height: 20px;
  }